* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 75%;
    text-align: center;
    margin: 3rem auto;
}

.carousel {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.carousel img {
    width: 100%;
}

.carousel .carousel__item, 
.carousel .carousel__item--hidden {
    display: none;
}

.carousel .carousel__item--visible {
    display: block;
}