@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

htlm {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 300px;
    width: 300 px;
    border: 1 px solid rgb(26, 26, 68);
    border-radius: 5 px;
    margin: 10 rem auto;
    text-align: center;
    background: linear-gradient(rgba(51, 51, 82, 0.685), rgba(73, 49, 49, 0.583)),
    url('../images/1.jpg');
    background-size: cover;
    background-position: center;
}

.container > input, .container button {
    display: block;
    margin: 1rem auto;
}

.container button {
    width: 5rem;
    padding: 0.3rem;
    color: aliceblue;
    background-color: rgba(27, 27, 44, 0.746);
}

.container h3 {
    margin: 2rem;
    color: aliceblue;
    text-transform: capitalize;
}

.container p {
    color: aliceblue;
    font-size: 1.5rem;
}